.button {
  margin-left: 20px;
  height: 50px;
  cursor: pointer;
  color: #fff;
  background-color: #3500d3;
  font-size: 1.5rem;
  transition: ease 0.2s;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
}

button:hover {
  opacity: 0.6;
}
